{
    "openapi": "3.0.0",
    "info": {
        "title": "Thunder Express OpenApi Demo Documentation",
        "description": "Thunder ExpressOpenApi description",
        "contact": {
            "email": "admin@thunder-express.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.thunder-express.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/addSuperAdmin": {
            "post": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "create Admin / SuperAdmin",
                "description": "create admin",
                "operationId": "addSuperAdmin",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "firstname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "lastname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "gender",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "description": "téléphone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirm_password",
                        "in": "query",
                        "description": "confirm_password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "The email has already been taken"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/get_admins/{per_page}": {
            "get": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "Get List Of admins",
                "description": "Returns all admins and associated provinces.",
                "operationId": "get_admins",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getByid/{id}": {
            "get": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "Get admin by admin id",
                "operationId": "getByid",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/deleteAdmin/{id}": {
            "delete": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "delete admin",
                "description": "delete one admin.",
                "operationId": "deleteAdmin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateAdmin/{id}": {
            "put": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "update Admin / SuperAdmin",
                "description": "update admin",
                "operationId": "updateAdmin",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "firstname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "lastname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "gender",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "description": "téléphone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "The email has already been taken"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getlastpostiondelivery/{id}": {
            "post": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "get last postion of Delivery ",
                "description": "last position of delivery",
                "operationId": "getLastPostionDelivery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "The email has already been taken"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ads/create": {
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "create ads",
                "description": "create ads",
                "operationId": "addads",
                "parameters": [
                    {
                        "name": "adsarea_id",
                        "in": "query",
                        "description": "adsarea_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "file_id",
                        "in": "query",
                        "description": "file_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "description": "supplier_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "product_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "menu_id",
                        "in": "query",
                        "description": "menu_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "schema": {
                            "type": "datetime"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "schema": {
                            "type": "datetime"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "schema": {
                            "type": "decimal"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ads/get/{id}": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Get ads by id",
                "operationId": "getadsbyid",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ads/all/{per_page}": {
            "get": {
                "tags": [
                    "Ads"
                ],
                "summary": "Get List Of ads",
                "description": "Returns all ads .",
                "operationId": "getads",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ads/update/{id}": {
            "post": {
                "tags": [
                    "Ads"
                ],
                "summary": "update ads ",
                "description": "update ads",
                "operationId": "updateAds",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "ads_id",
                        "in": "query",
                        "description": "ads_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "file_id",
                        "in": "query",
                        "description": "file_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "description": "supplier_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "product_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "menu_id",
                        "in": "query",
                        "description": "menu_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "start_date",
                        "required": true,
                        "schema": {
                            "type": "datetime"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "schema": {
                            "type": "datetime"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "end_date",
                        "required": true,
                        "schema": {
                            "type": "decimal"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ads/delete/{id}": {
            "delete": {
                "tags": [
                    "Ads"
                ],
                "summary": "delete Ads",
                "description": "delete one Ads.",
                "operationId": "deleteAds",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/adsarea/create": {
            "post": {
                "tags": [
                    "Adsarea"
                ],
                "summary": "create adsarea",
                "description": "create zdsarea",
                "operationId": "addadsarea",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "title",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/adsarea/get/{id}": {
            "get": {
                "tags": [
                    "Adsarea"
                ],
                "summary": "Get adsarea by adsarea id",
                "operationId": "getadsareabyid",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/adsarea/all/{per_page}": {
            "get": {
                "tags": [
                    "Adsarea"
                ],
                "summary": "Get List Of adsarea",
                "description": "Returns all adsarea .",
                "operationId": "getadsarea",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/adsarea/update/{id}": {
            "post": {
                "tags": [
                    "Adsarea"
                ],
                "summary": "update adsarea ",
                "description": "update adsarea",
                "operationId": "updateAdsarea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "title",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/adsarea/delete/{id}": {
            "delete": {
                "tags": [
                    "Adsarea"
                ],
                "summary": "delete Adsarea",
                "description": "delete one Adsarea.",
                "operationId": "deleteAdsarea",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/loginSuperAdmin": {
            "post": {
                "tags": [
                    "Authentification"
                ],
                "summary": "login Admin / SuperAdmin",
                "description": "Returns Admin info && Bearer Token",
                "operationId": "loginSuperAdmin",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/addCategory": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "create category",
                "description": "create category",
                "operationId": "addCategory",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "parent_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "description",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getCategoryChildren/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get category per id with children here. ",
                "operationId": "getCategoryChildren",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getCategoryParent/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get category per id with parent here. ",
                "operationId": "getCategoryParent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getCategorysupplierDelivery/{id}/{per_page}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get the supplier with the Category ID && delivered.",
                "description": "Returns all  supplier with the Category ID && delivered.",
                "operationId": "getCategorysupplierDelivery",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getCategorysupplierTakeaway/{id}/{per_page}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get the supplier with the Category ID && OR delivered && OR to Take away.",
                "description": "Returns all  supplier with the Category ID && OR delivered && OR to Take away.",
                "operationId": "getCategorysupplierTakeaway",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getcategorybyid/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get category by category id",
                "operationId": "getcategorybyid",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getCategory/{per_page}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get List Of categories",
                "description": "Returns all categories and associated provinces.",
                "operationId": "getCategory",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/allCategoryParent": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get the list of categories in which the parent ID exists. ",
                "description": "Returns all categories in which the parent ID exists.",
                "operationId": "allCategoryParent",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateCategory/{id}": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "update category ",
                "description": "update category",
                "operationId": "updateCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "parent_id",
                        "in": "query",
                        "description": "parent_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "description",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "bad request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/deleteCategory/{id}": {
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "delete category",
                "description": "delete one category.",
                "operationId": "deleteCategory",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/addClient": {
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "create client",
                "description": "create client",
                "operationId": "addClient",
                "parameters": [
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "firstname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "lastname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "gender",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "description": "téléphone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirm_password",
                        "in": "query",
                        "description": "confirm_password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "street",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postcode",
                        "in": "query",
                        "description": "postcode",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "description": "region",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad request. User ID must be an integer and bigger than 0"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/addImage": {
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "create image client",
                "description": "create image client",
                "operationId": "addImage",
                "parameters": [
                    {
                        "name": "image",
                        "in": "query",
                        "description": "image",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad request. User ID must be an integer and bigger than 0"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateimage": {
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "update image client",
                "description": "update image client",
                "operationId": "updateimage",
                "parameters": [
                    {
                        "name": "image",
                        "in": "query",
                        "description": "image",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad request. User ID must be an integer and bigger than 0"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/addfavorite": {
            "post": {
                "tags": [
                    "Client"
                ],
                "summary": "add favorite to supplier",
                "description": "add favorite to supplier",
                "operationId": "addfavorite",
                "parameters": [
                    {
                        "name": "id_supplier",
                        "in": "query",
                        "description": "id_supplier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad request. User ID must be an integer and bigger than 0"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/deletefavorite": {
            "delete": {
                "tags": [
                    "Client"
                ],
                "summary": "delete favorite to supplier",
                "description": "delete favorite to supplier",
                "operationId": "deletefavorite",
                "parameters": [
                    {
                        "name": "id_supplier",
                        "in": "query",
                        "description": "id_supplier",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "Bad request. User ID must be an integer and bigger than 0"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getAllClient/{per_page}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get List Of clients",
                "description": "Returns all clients and associated provinces.",
                "operationId": "getAllClient",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getlistclients/{per_page}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get List Of clients",
                "description": "Returns all clients and associated provinces.",
                "operationId": "getlistclients",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getClientCommands/{id}/{per_page}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get customers where has order.",
                "description": "Returns all customers where has order.",
                "operationId": "getClientCommands",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getClient/{id}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get client by client id",
                "operationId": "getClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getClientFavorits": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get favorits  ",
                "operationId": "getClientFavorits",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateClient/{id}": {
            "put": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "update client",
                "description": "update client",
                "operationId": "updateClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "firstname",
                        "in": "query",
                        "description": "firstname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastname",
                        "in": "query",
                        "description": "lastname",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "gender",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "description": "téléphone",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "street",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "postcode",
                        "in": "query",
                        "description": "postcode",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "city",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "The email has already been taken"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateClienPW/{id}": {
            "put": {
                "tags": [
                    "Administrateur"
                ],
                "summary": "update password client",
                "description": "update password client",
                "operationId": "updateClienPW",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "oldpassword",
                        "in": "query",
                        "description": "oldpassword",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newpassword",
                        "in": "query",
                        "description": "newpassword",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "confirm_password",
                        "in": "query",
                        "description": "confirm_password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "The email has already been taken"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/destroyClient/{id}": {
            "delete": {
                "tags": [
                    "Client"
                ],
                "summary": "delete client",
                "description": "delete one client.",
                "operationId": "destroyClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/statusClient": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get client by client id && status",
                "operationId": "statusClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "id_client",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status_id",
                        "in": "query",
                        "description": "status_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/resetPWClient": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "reset password",
                "operationId": "resetPWClient",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "email",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tel",
                        "in": "query",
                        "description": "tel",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ClientGetSupplier/{per_page}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get customers where has favorite supplier.",
                "description": "Returns all customers where has favorite supplier.",
                "operationId": "ClientGetSupplier",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ClientGetSupplierByCategory/{per_page}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "summary": "Get supplier by category id ",
                "operationId": "ClientGetSupplierByCategory",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "category_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/deleteClient/{id}": {
            "delete": {
                "tags": [
                    "Client"
                ],
                "summary": "delete client",
                "description": "delete one client.",
                "operationId": "deleteClient",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/createPublicProduct": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "create a public product for the supplier.",
                "description": "create a public product for the supplier.",
                "operationId": "createPublicProduct",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "the product name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "description",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "default_price",
                        "in": "query",
                        "description": "default_price",
                        "required": false,
                        "schema": {
                            "type": "decimal(8,2)"
                        }
                    },
                    {
                        "name": "min_period_time",
                        "in": "query",
                        "description": "min_period_time",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "max_period_time",
                        "in": "query",
                        "description": "max_period_time",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "available",
                        "in": "query",
                        "description": "available",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_type",
                        "in": "query",
                        "description": "unit_type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Piece",
                                "Kg",
                                "L",
                                "M"
                            ]
                        }
                    },
                    {
                        "name": "unit_limit",
                        "in": "query",
                        "description": "unit_limit",
                        "required": false,
                        "schema": {
                            "type": "double(8,2)"
                        }
                    },
                    {
                        "name": "weight",
                        "in": "query",
                        "description": "weight",
                        "required": false,
                        "schema": {
                            "type": "double(8,2)"
                        }
                    },
                    {
                        "name": "dimension",
                        "in": "query",
                        "description": "dimension",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "typeproduct",
                        "in": "query",
                        "description": "typeproduct",
                        "required": false
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "tag",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/createPrivateProduct": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "create a private product for the supplier.",
                "description": "create a private product for the supplier.",
                "operationId": "createPrivateProduct",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "the product name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "description",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "price",
                        "required": false,
                        "schema": {
                            "type": "decimal(8,2)"
                        }
                    },
                    {
                        "name": "min_period_time",
                        "in": "query",
                        "description": "min_period_time",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "max_period_time",
                        "in": "query",
                        "description": "max_period_time",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "available",
                        "in": "query",
                        "description": "available",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "unit_type",
                        "in": "query",
                        "description": "unit_type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "Piece",
                                "Kg",
                                "L",
                                "M"
                            ]
                        }
                    },
                    {
                        "name": "unit_limit",
                        "in": "query",
                        "description": "unit_limit",
                        "required": false,
                        "schema": {
                            "type": "double(8,2)"
                        }
                    },
                    {
                        "name": "weight",
                        "in": "query",
                        "description": "weight",
                        "required": false,
                        "schema": {
                            "type": "double(8,2)"
                        }
                    },
                    {
                        "name": "dimension",
                        "in": "query",
                        "description": "dimension",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "typeproduct",
                        "in": "query",
                        "description": "typeproduct",
                        "required": false
                    },
                    {
                        "name": "tag",
                        "in": "query",
                        "description": "tag",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/productToSupplier": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "Add the product of the supplier.",
                "description": "Add the product of the supplier.",
                "operationId": "productToSupplier",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "the product id.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "supplier_id",
                        "in": "query",
                        "description": "the supplier id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "price",
                        "in": "query",
                        "description": "price",
                        "required": false,
                        "schema": {
                            "type": "decimal(8,2)"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getAllProduct/{per_page}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get List Of products",
                "description": "Returns all products and associated provinces.",
                "operationId": "getAllProduct",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getProduct/{id}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get product by product id",
                "operationId": "getProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getAllPublicProduct/{per_page}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get List Of public products",
                "description": "Returns all public products and associated provinces.",
                "operationId": "getAllPublicProduct",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getSupplierProducts/{per_page}": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get List Of private  products where supplier id.",
                "description": "Returns all public products where supplier id.",
                "operationId": "getSupplierProducts",
                "parameters": [
                    {
                        "name": "per_page",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/getdispoHourProductsSupplierByTag": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Get the list of products diponibles in the current time.",
                "description": "Returns all diponible products in the current time.",
                "operationId": "getdispoHourProductsSupplierByTag",
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "400": {
                        "description": "Bad Request"
                    },
                    "404": {
                        "description": "not found"
                    },
                    "500": {
                        "description": "erreur serveur 500"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ProductsSupplierNotAvailable/{id}": {
            "put": {
                "tags": [
                    "Product"
                ],
                "summary": "update availability product",
                "description": "update availability product",
                "operationId": "ProductsSupplierNotAvailable",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "available",
                        "in": "query",
                        "description": "available of product",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "400": {
                        "description": "bad request"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "not found"
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/updateProduct/{id}": {
            "post": {
                "tags": [
                    "Product"
                ],
                "summary": "create a public product for the supplier.",
                "description": "create a public product for the supplier.",
                "operationId": "updateProduct",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "the product name.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
[...]
