stages:
  - .pre
  - build
  - deploy

build-job-stage:
  stage: .pre
  only:
    - main
  script:
    - echo "cd to repo folder"
    - cd $APP_PATH
    - echo "pulling changes"
    - git pull origin $CI_DEPLOY_BRANCH
    - echo "project cloned"
build-job-prod:
  stage: .pre
  tags:
    - prod
  only:
    - Master
  script:
    - echo "cd to repo folder"
    - cd /var/www/thunder/api/repo/
    - echo "pulling changes"
    - git stash
    - git fetch
    - git checkout Master
    - git pull origin Master
    - echo "project cloned"

copying-files-stage:
  stage: build
  only:
    - main
  script:
    - echo "copying repo files to project directory "
    - cd $APP_PATH
    - rsync -av --progress ./* $PROJECT_PATH --exclude '.git' --exclude '.env' --exclude '.gitlab-ci' --exclude 'storage/' --exclude 'bootstrap'
    - chgrp -R www-data ./public
    - chmod -R g+wx public
    - echo "finish copying"

copying-files-prod:
  stage: build
  tags:
    - prod
  only:
    - Master
  script:
    - echo "copying repo files to project directory "
    - ssh achref@thunder-express.com "sudo cp -f -r /var/www/thunder/api/repo/* /var/www/thunder/api/source/"
    - ssh achref@thunder-express.com "sudo chgrp -R www-data /var/www/thunder/api/source/public"
    - ssh achref@thunder-express.com " sudo chmod -R g+wx /var/www/thunder/api/source/public"
    - echo "finish copying"

deploy-stage:
  stage: deploy
  only:
    - main
  script:
    - echo "cd to project folder"
    - cd $PROJECT_PATH
    - composer install --ignore-platform-reqs
    - php artisan migrate
    - php artisan l5-swagger:generate


deploy-prod:
  stage: deploy
  tags:
    - prod
  only:
    - Master
  script:
    - echo "cd to project folder"
    - cd /var/www/thunder/api/source/
    - composer install --ignore-platform-reqs
    - php artisan migrate
    - php artisan l5-swagger:generate
