build-job:
  stage: .pre
  only:
    - main
  script:
    - echo "cd to repo folder"
    - cd $APP_PATH
    - echo "pulling changes"
    - git pull origin $CI_DEPLOY_BRANCH
    - echo "project cloned"

copying-files:
  stage: build
  only:
    - main
  script:
    - echo "copying repo files to project directory "
    - rsync -av --progress $APP_PATH $PROJECT_PATH --exclude '.git' --exclude '.env' --exclude '.gitlab-ci'
    - echo "finish copying"

deploy-prod:
  stage: deploy
  only:
    - main
  script:
    - echo "cd to project folder"
    - cd $PROJECT_PATH
    - composer install --ignore-platform-reqs
    - php artisan migrate
